body{
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
    list-style: none;
}
nav li{
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
} 

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    color: #131313;
font-size: 64px;
font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}


/* main section */
main{
    max-width: 1440px;
    margin: 0px auto;
}
/* team section style */

.teams-container{
    display: flex;
    align-items: center;
    margin: 120px 0px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-content{
    padding: 0px 4.4rem;
}
.quick{
    color:  #727272; 
    font-size: 3rem;
    font-weight: 500;
}
.our{
    color: var(--Dark-01, #131313);
    font-size: 3rem;
    font-weight: 700;
}
.featur{
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px ;
}
.section-description{
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 120px;
}
.card-container{
    display: flex;
    justify-content: space-around;
}
.card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px 36px 60px 36px;
}
.card-container .card-count{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-container .card-title{
    color: var(--Dark-03, #727272);
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 10px;
}
.sponsor{
    text-align: center;
}
.sponsor-title{
    color:  #131313;
font-size: 45px;
font-weight: 700;
}
.sponsor-description{
    color: #727272;
font-size: 16px;
font-weight: 400;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    align-items: center;
    gap: 40px;
}
.sponsor-img-container img{
    width: 166px;
}
.feature-card-container .card-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.feature-card-container .card-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.feature-content .feature-title{
    color: var #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 24px;
}
.features{
    display: flex;
    gap: 100px;
}
.feature-content .card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.ten-year-badge{
    color: #FFF;
    border-radius: 8px;
    background-color: #FF900E;
    padding: 42px;
    text-align: center;
    width: 342px;
    position: relative;
    bottom: 100px;
}
.feature-img img{
    height: 90%;
    margin-left: 90px;
}
.ten-year-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-year-badge p{
    font-size: 1.5rem;
}
footer{
    margin: 120px 240px 0px 240px;
    border-radius: 8px;
background: #FFF4E7;
padding: 40px 400px;
text-align: center;
}
.footer-text{
    color: #424242;
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .sponsor-img-container, .features{
        flex-direction: column;
    }
    .feature-img img{
        width: 90%;
        margin-left: 0;
    }
    .ten-year-badge{
        max-width: 300px;
    }
    .teams-container,.card-container{
        flex-direction: column-reverse;
    }
    .team-content{
        margin-bottom: 24px;
        padding: 20px 20px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .card-container{
        gap: 20px;
        padding: 20px 20px;
    }
}
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .sponsor-img-container, .features{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .team-content{
        margin-bottom: 24px;
        padding: 20px 20px;
    }
}